@model IEnumerable<RegistCom>

@{
    ViewBag.Title = "Notification";

}
<div class="tab-content card-block">
    <div class="tab-pane active" id="home3" role="tabpanel">

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Staff Email</th>
                    <th>Task Assign</th>
                    <th>Status</th>
                </tr>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StaffEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RecomTask)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>


            </table>
        </div>


    </div>
</div>
